# Реальный эмулятор из задания. Не храните пароль в репозитории: скопируйте файл в .env.
ONEC_BASE_URL=https://goshift.ru/demo_ut/odata/standard.odata
ONEC_USER=odata.user
ONEC_PASSWORD=replace-with-password-from-task
